<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <title>青云汽服管理平台</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all"></link>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"></link>
    <link rel="stylesheet" th:href="@{/css/app.css}" media="all"></link>
    <link rel="stylesheet" th:href="@{/css/themes/light.css}" media="all"></link>
</head>

<body class="kit-theme">
    <div class="layui-layout layui-layout-admin kit-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">青云汽服管理平台</div>
            <div class="layui-logo kit-logo-mobile">C</div>
            <ul class="layui-nav layui-layout-left kit-nav" kit-one-level="">
                <li class="layui-nav-item"><a href="javascript:;">控制台</a></li>
                <li class="layui-nav-item"><a href="javascript:;">商品管理</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right kit-nav">
                <li class="layui-nav-item"><a href="javascript:;" id="pay"><i class="fa fa-gratipay" aria-hidden="true"></i> 等待添加</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="@{/images/haizei.jpg}" class="layui-nav-img"> </img>JJJJJJJ
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">基本资料</a></dd>
                        <dd><a href="javascript:;">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a></li>
            </ul>
        </div>
        <!--上面是header栏-->
        <div class="layui-side layui-bg-black kit-side">
            <div class="layui-side-scroll">
                <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar="">
                    <!--第一个-->
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 基本管理</span></a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" data-url="/sys_seller/find" data-icon="&#xe6c6;" data-title="商家管理" kit-target="" data-id='1'>
                                    <i class="layui-icon" >&#xe6c6;</i><span> 入驻商家管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/sys_stuff/find" data-icon="fa-user" data-title="商品管理" kit-target="" data-id='2'>
                                    <i class="fa fa-user" aria-hidden="true"></i><span> 商品类型管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/sys_mtype/find" data-icon="&#xe628;" data-title="主营类型" kit-target="" data-id='3'>
                                    <i class="layui-icon">&#xe628;</i><span> 主营类型管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/sys_ltype/find" data-icon="&#xe614;" data-title="次级类型" kit-target="" data-id='4'>
                                    <i class="layui-icon">&#xe614;</i><span> 次级类型管理</span></a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/sys_run/find" data-icon="&#xe6c6;" data-title="经营管理" kit-target="" data-id='5'>
                                    <i class="layui-icon" >&#xe6c6;</i><span> 经营关系管理</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" kit-target="" data-options="{url:'https://www.baidu.com',icon:'&#xe658;',title:'百度一下',id:'6'}">
                                    <i class="layui-icon">&#xe658;</i><span> 百度一下</span></a>
                            </dd>
                        </dl>
                    </li>


                    <!--第三组-->
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 留言管理</span></a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;">
                                    <i class="fa fa-plug" aria-hidden="true"></i><span> 留言管理</span></a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url=" " data-icon="&#xe628;" kit-loader="">
                                    <i class="layui-icon">&#xe628;</i><span> 待添加</span></a>
                            </dd>
                        </dl>

                    </li>
                </ul>
            </div>
        </div>
        <!--上面是左侧导航栏-->

        <div class="layui-body" id="container">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;"></div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            2017 &copy;
            <a href="baidu.com/">青云车服管理后台</a> MIT license

        </div>
    </div>

    <script th:src="@{/layui/layui.js}"></script>
    <script>
        var message;
        layui.config({
            base: '/selfjs/js/'
        }).use(['app', 'message'], function() {
            var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
            //将message设置为全局以便子页面调用
            message = layui.message;
            //主入口
            app.set({
                type: 'iframe'
            }).init();

//            捐赠我事件监听
            $('#pay').on('click', function() {
                layer.open({
                    title: false,
                    type: 1,
                    content: '暂未添加',
                    area: ['500px', '250px'],
                    shadeClose: true
                });
            });


            function refreshIframe() {
                document.getElementById("container").src = url;
            }
        });
    </script>
</body>

</html>